html.dark {
  background-color: #222735;
}

html.light {
  background-color: #F7F4E8;
}

.sensors-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 0.22rem;
  padding: 0.1rem;
}

.sensors-grid.dark {
  background-color: #222735;
}

.sensors-grid.light {
  background-color: #F7F4E8 ;
}

/* ✅ tablet: 2 columns */
@media (min-width: 701px) and (max-width: 1200px) {
  .sensors-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ✅ desktop: 2 columns */
@media (min-width: 1021px) {
  .sensors-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;   
    padding: 1rem;
  }
}
