
:root { --header-h: 4.8rem; }

html, body, #root {
  height: 100%;
}

.app-main {

  padding-top: calc(var(--header-h) + env(safe-area-inset-top, 0px));
} 

.app-layout {
  min-height: 100vh;       
  display: flex;
  flex-direction: column;
}

.app-layout.dark {
background: #222735; 
}

.app-layout.light {
background: #F7F4E8; 
}


.app-main {
  flex: 1;
  padding-top: calc(var(--header-h) + env(safe-area-inset-top, 0px));
  /* background: #222735;       */
}