.temp-graph-main {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.temp-graph-main.dark {
    background: #3F4768;
}

.temp-graph-main.light {
    background: #FFFFFF;
}

.temp-grap-text {
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: clamp(0.875rem, 0.85rem + 0.25vw, 1rem);
    line-height: 1.25rem;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


}


.temp-graph-main.dark .temp-grap-text {
    color: #FFFFFFE5;
}

.temp-graph-main.light .temp-grap-text {
    color: #000000E5;
}