* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular', sans-serif;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it takes full screen height */
}


.footer2-address span,
.footer2-contact span {
    margin: 0 0.2rem;
    white-space: nowrap;

}

.footer2-maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.9375rem;
    padding: 1.875rem 1.25rem;
    background-color: #222735;
}



.footer2-leftside {
    display: flex;
    flex-direction: row;
    width: 39.4375rem;
    opacity: 40%;
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    text-align: left;
    white-space: nowrap;
    color: #FFFFFFE5;
}



.footer2-rightside {
    width: 21.4375rem;
    height: 1.1875rem;
    opacity: 40%;
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    text-align: right;
     color: #FFFFFFE5;
}



.footer2-leftside span a {
  color: inherit;         
  text-decoration: none;  
}



@media (max-width: 768px) and (min-width: 320px) {
    .footer2-maincontainer {
        overflow-x: hidden;
        max-width: 100%;
        height: 7.6875rem;
        padding: 1.8rem 1.15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.375rem;
    }

    .footer2-leftside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        height: 2.375rem;
        opacity: 40%;
        font-family: "Pretendard", sans-serif;
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.1875rem;
        text-align: center;
        flex-wrap: nowrap;
    }

    .footer2-rightside {
        max-width:max-content;
        height: 1.1875rem;
        opacity: 40%;
        font-family: "Pretendard", sans-serif;
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.1875rem;
        text-align: center;
        flex-wrap: nowrap;
    }

    .footer2-address span,
.footer2-contact span {
    margin: 0 0.2rem;
    flex-wrap: nowrap;
    
}

}



@media (min-width: 769px) and (max-width: 1024px) {
    .footer2-maincontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 4.9375rem;
        padding: 1.875rem 1.25rem;
        height: 6.5rem; /* 104px */
        padding: 1.875rem 1.25rem; /* 30px top/bottom, 20px left/right */
        gap: 0.375rem; /* 6px */
    }

    .footer2-leftside {
        display: flex;
        flex-direction: row;
        width: 39.4375rem;
        opacity: 40%;
        font-family: "Pretendard", sans-serif;
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.1875rem;
        text-align: center;
        flex-wrap: nowrap;
    }


    .footer2-rightside {
        width: 21.4375rem;
        height: 1.1875rem;
        opacity: 40%;
        font-family: "Pretendard", sans-serif;
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.1875rem;
        text-align: center;
    }


    
.footer2-address span,
.footer2-contact span {
    margin: 0 0.2rem;
    flex-wrap: nowrap;
}

}